<h3>Contact - PRO</h3><br/>
<h3>Objet: {{object}}</h3>
<br/>

<p>Informations du professionnel :</p>
<p>Nom du professionnel : {{nom}}</p>
<p>Adresse e-mail : {{email}}</p><br/>

<p>Message :</p>
<p>{{message}}</p><br/>

<p>________________________</p>
<p>Effectué le : {{date}}</p>
