<h3>Bug Report - PRO</h3><br/>

<p>Informations du professionnel :</p>
<p>Nom du professionnel : {{nom}}</p>
<p>Adresse e-mail : {{email}}</p><br/>

<p>Explication du bug :</p>
<p>{{explication}}</p><br/>

<p>Cheminement du bug :</p>
<p>{{cheminement}}</p><br/>

<p>________________________</p>
<p>Effectué le : {{date}}</p>
